
*.xml
*.rst
*.rst
*.wdf
*.wpc
*.dcp
*.tcl
*.vds
*.pb
*.rpt
*.txt
*.js
*.sh
*.bat
*.log
*.sh
*.jou
*.pb
*.wdb
*.prj
CompuTED.sim/sim_1/behav/xsim/glbl.v
*.obj
CompuTED.sim/sim_1/behav/xsim/xsim.dir/ALUTest_behav/obj/xsim_1.c
*.dbg
*.mem
*.reloc
*.svtype
*.xdbg
*.exe
*.ini
*.sdb
vivado.log
vivado.jou
CompuTED.hw/CompuTED.lpr
